<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Files within {{ directory }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ assetDir }}/styles.css">
  </head>

  <body>
    <main id="main" class="main">
      <h1 class="paths__heading">
        <i span class="paths__heading__title">Index of &nbsp;</i>

        <span class="list paths__list"
          {% for path in paths %}
            <a class="paths__list__item paths__list__item--{{ path.ext }}"
               href="/{{ path.url }}"
               data-file-url="/{{ path.url }}"
               data-file-name="{{ path.name }}"
               data-file-relative="{{ path.url }}">{{ path.name }}</a>
          {% endfor %}
        </span>
      </h1>

      <ul class="list files__list" data-root="{{ paths[0].root }}">
        {% for file in files %}
          <li class="files__item files__item--{{ file.ext }}"
              data-file-url="/{{ file.relative }}"
              data-file-root="{{ file.root }}"
              data-file-dir="{{ file.dir }}"
              data-file-ext="{{ file.ext }}"
              data-file-name="{{ file.name }}"
              data-file-relative="{{ file.relative }}"
              data-file-size="{{ file.size }}">

            <a href="/{{ file.relative }}" class="files__item__link files__item__link--{{ file.ext }}">{{ file.base }}</a>

            <i class="files__item__size">{{ file.size }}</i>

            <span class="files__item__time files__item__time--accessed">Accessed <time class="files__item__time" datetime="{{ file.date.accessed|date }}">{{ file.date.accessed }}</time></span>

            {# Time of when file was last accessed on the file system -#}
            {#- <span class="files__item__time files__item__time--accessed">Accessed <time class="files__item__time" datetime="{{ file.date.accessed|date }}">{{ file.date.accessed }}</time></span> -#}

            <span class="files__item__time files__item__time--modified">Modified <time class="files__item__time" datetime="{{ file.date.modified|date }}">{{ file.date.modified }}</time></span>

            <span class="files__item__time files__item__time--Changed">Changed <time class="files__item__time" datetime="{{ file.date.changed|date }}">{{ file.date.changed }}</time></span>

            <span class="files__item__time files__item__time--created">Created <time class="files__item__time" datetime="{{ file.date.created|date }}">{{ file.date.created }}</time></span>

          </li>
        {% endfor %}
      </ul>
    </main>

    <aside id="aside" class="aside">
      <p>Node {{ nodeVersion }} and <a href="https://github.com/zeit/list" target="_blank" rel="noopener noreferrer">list</a> running @ <a href="//localhost:{{ port }}">localhost:{{ port }}</a></p>
    </aside>
  </body>
</html>
