* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: Consolas, Menlo, Andale Mono, monospace;
  margin: 0;
  padding: 30px;
}

a {
  color: #1a00f2;
  text-decoration: none;
}

h1 {
  margin-top: 0;
}

/*h1*/.paths {
  color: #111;
  display: flex;
  font-family: -apple-system, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/*i*/.paths__title {
  font-style: normal;
}

/*a*/.paths__heading__item {
  border-bottom: 1px dashed transparent;
  color: inherit;
  font-weight: bold;

  &:after {
    content: '/';
  }

  &:hover {
    color: #7d7d7d;
  }
}

/*main*/.main {
  // margin: 0 auto;
  max-width: 920px;
}

/*ul*/.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*ul*/.files__list {
  margin-top: 30px;
}

/*li*/.files__item {
  background: red;
  display: flex;
  font-size: 14px;
  // justify-content: space-between;
  list-style: none;
  padding: 10px;
  align-items: flex-start;
}

/*a*/.files__item__link {
  background: yellow;
  color: #1a00f2;
  display: block;
  // overflow: hidden;
  position: relative;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  flex: 1;

  &:before {
    content: '\f016';
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 10px;
    color: #111;
  }

  &:hover {
    color: #111;
  }
}

/*i*/.files__item__size {
  color: #9b9b9b;
  display: block;
  font-size: 11px;
  font-style: normal;
  overflow-x: hidden;
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  width: 1em;
}

.aside {
  color: #4a4a4a;
  font-style: italic;
  margin-top: 50px;

  p {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
  }
}

@media (min-width: 768px) {
  // /*li*/.files__item {
  // }

  // /*li*/.files__item {
  //   padding-right: 20px;
  //   max-width: 230px;
  // }

  // /*a*/.files__item__link {
  //   display: flex;
  //   flex-wrap: wrap;
  // }

  // /*ul*/.files__list {
  //   display: flex;
  //   flex-direction: column;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   align-content: space-between;
  //   margin: 20px -10px -10px;
  //   padding: 10px;
  // }

  /*li*/.files__item {
    background: green;
  }
}

@media (min-width: 992px) {
  body {
    padding: 45px;
  }

  /*h1*/.paths {
    font-size: 15px;
  }

  // /*a*/.files__link {
  //   box-sizing: border-box;
  //   font-size: 13px;
  //   justify-content: flex-start;

  //   &:hover /*i*/.files__item__size {
  //     opacity: 1;
  //   }
  // }

  /*i*/.files__item__size {
    font-size: 10px;
    opacity: 0;
    margin-left: 10px;
    margin-top: 3px;
    padding-left: 0;
  }

  /*aside*/.aside {
    padding-top: 50px;
  }
}
